body{
  font-family: "Helvetica", sans-serif;
}

h1{
  padding: 10px;
  margin: 20px;
  font-family: "Times New Roman", serif;
}

h4{
  font-family: "Helvetica", sans-serif;
  color:gray;
}

.pagehead{
  font-family: "Times New Roman", serif;
}

a:link{
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

/* First Page */
.search{
  float: right;
  margin: 20px;
  padding: 10px;
}

.searchbar{
  width: 200px;
}

.search:hover{
  cursor:help;
}

.header{
  column-count:2;
}

.welcome{
  text-align: center;
}

.welcometext{
  text-align: left;
}

.blueh2{
  background: #bfedff;
  padding: 10px;
  border-style: solid;
  margin-bottom: 0px;
  border-color: #969696;
}

.bluetext{
  background: #e3f7ff;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #969696;
  padding: 10px;
}

.bluetext2{
  background: #e3f7ff;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-top: 0px;
  border-color: #969696;
  padding: 10px;
  padding:20px;
}

.greenh2{
  background: #a2e8b7;
  padding: 10px;
  border-style: solid;
  margin-bottom: 0px;
  border-color: #969696;
}

.greentext{
  background: #d4ffe1;
  margin-top: 0px;
  border-style: solid;
  border-top: 0px;
  border-color: #969696;
  padding: 10px;
}

.column{
  float: left;
  width: 45%;
  margin: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Consumption Page */
.graybackground{
  padding-top: 10px;
  padding-bottom: 10px;
}
